.car-card {
    background-image: url("https://png2.cleanpng.com/sh/8b6f58592302fb393400886ba501fd85/L0KzQYm3U8I0N5Rxj5H0aYP2gLBuTcIxOWgygtducD3qgrL1hL1kcJZ3h91uZT21QIK9TfpmbaEyfARqbnSwc7nskv9sbZYygtducD24cbO8UvZibGZrSaZqNj61Q4G4UMA4OWI6SqMDMkO5RoK6WMk2NqFzf3==/kisspng-2017-jeep-grand-cherokee-2016-jeep-grand-cherokee-jeep-5ab52fad5f14a6.2301007115218236613895.png");
    background-size: 225px;
    background-repeat: no-repeat;
    background-position: 0px -5px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    .name {
        font-weight: 700;
    }
}
