input,
select {
    &.form-control,
    & {
        border-color: 1px solid var(--theme);
        &:focus {
            // background-color: var(--theme);
            box-shadow: none;
            border-color: #2a5298;
        }
    }
}

.text-theme {
    color: var(--theme);
}
.border-theme {
    border: var(--theme);
}
.btn-theme {
    background-color: var(--theme);
    color: var(--text-theme);
    transition: all 0.3s ease;
    &:hover {
        color: var(--text-theme);
        background-color: var(--theme-light);
    }
}
.bg-theme {
    background-color: var(--theme);
    color: var(--text-theme);
}
.bg-theme-light {
    background-color: var(--theme-light);
    color: var(--text-theme);
}
.bg-img-theme {
    background-image: var(--theme-bg-img);
    color: var(--text-theme);
}

.custom-range::-webkit-slider-thumb {
    background: var(--theme-bg-img);
}

.custom-range::-moz-range-thumb {
    background: var(--theme-bg-img);
}

.custom-range::-ms-thumb {
    background: var(--theme-bg-img);
}

.bg-theme {
    background-image: var(--theme-bg-img);
}

.shadow {
    box-shadow: 0 3px 5px 2px #243b555e;
}
input,
select {
    border-color: #243b55;
}

.custom-checkbox {
    height: 30px;
    .custom-control-label {
        line-height: 30px;
        padding-left: 10px;
        &::first-letter {
            text-transform: uppercase;
        }
        &::before,
        &::after {
            width: 25px;
            height: 25px;
            box-shadow: none;
            border-radius: 50%;
            border-color: #2a5298;
        }
    }
}

.custom-control-input:checked ~ .custom-control-label {
    &::before {
        background-image: var(--theme-bg-img);
        border-color: #111;
    }
    &::first-letter {
        font-weight: bold;
        color: #243b55;
    }
}

.page-item {
    .page-link {
        border-color: #111;
        color: #111;
        &:hover {
            background-image: var(--theme-bg-img);
            color: white;
            transform: scale(1.2);
            border-color: #111;
        }
    }
    &.active {
        .page-link {
            background-image: var(--theme-bg-img);
            border-color: #111;
            transform: scale(1.2);
            border-radius: 4px;
            .page-link:focus {
                box-shadow: none;
            }
        }
    }
}

:root {
    --theme-bg-img: linear-gradient(45deg, #141e30 30%, #243b55 90%);
    --text-theme: #fff;
    --theme: #141e30;
    --theme-light: #243b55;
}
// linear-gradient(45deg, #141e30 30%, #243b55 90%)
// linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%)
