body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type="search"]::placeholder{
  color: #222;
  font-size:14px;
}
ul{
  padding: 0;
  list-style: none;
}
ul >  li > label{
  font-weight: bold;
  color: var(--danger);
}
.custom-range::-webkit-slider-thumb {
  background: linear-gradient(45deg, #141e30 30%, #243b55 90%);
}

.custom-range::-moz-range-thumb {
  background: linear-gradient(45deg, #141e30 30%, #243b55 90%);
}

.custom-range::-ms-thumb {
  background: linear-gradient(45deg, #141e30 30%, #243b55 90%);
}

.bg-theme{
  background-image: linear-gradient(45deg, #141e30 30%, #243b55 90%) !important ;
}
.border-theme{
  border: #111 !important;
}
.text-theme{
  color: #243b55 !important;
}
.btn-theme{
  background-image: linear-gradient(45deg, #141e30 30%, #243b55 90%) !important ;
  border: 1px solid white;
  color: white;
} 
.btn-theme:hover{
  color: white ;
}
.shadow{
  box-shadow: 0 3px 5px 2px #243b555e !important;
}
input, select{
  border-color: #243b55 !important;
}

.custom-checkbox{
  height: 30px;
}
.custom-checkbox .custom-control-label{
  line-height: 30px;
  padding-left: 10px;
}
.custom-checkbox .custom-control-label::first-letter{
  text-transform: uppercase;
}
.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after{
  width: 25px;
  height: 25px;
  box-shadow: none !important;
  border-radius: 50%;
  border-color: #243b55;
}
.custom-control-label::before, .custom-file-label, .custom-select{
  transition: none !important;
  box-shadow: none !important;
}
.custom-control-input:checked~.custom-control-label::before{
  background-image: linear-gradient(45deg, #141e30 30%, #243b55 90%) !important ;
  border-color: #111;
}
.custom-control-input:checked~.custom-control-label::first-letter{
  font-weight: bold;
  color: #243b55;
}
.custom-control-label::before{
  border-color:#243b55 !important ;
}
.page-link{
  border-color: #111;
  color: #111;
}
.page-link:hover{
  background-image: linear-gradient(45deg, #141e30 30%, #243b55 90%);
  color: white;
  transform: scale(1.2);
  border-color: #111;


}
.page-item.active .page-link{
  background-image: linear-gradient(45deg, #141e30 30%, #243b55 90%);
  border-color: #111;
  transform: scale(1.2);
  border-radius: 4px;

}
.page-link:focus{
  box-shadow: none;
}

.car-card{
  background: #141e30;
    background-image: url('https://png2.cleanpng.com/sh/8b6f58592302fb393400886ba501fd85/L0KzQYm3U8I0N5Rxj5H0aYP2gLBuTcIxOWgygtducD3qgrL1hL1kcJZ3h91uZT21QIK9TfpmbaEyfARqbnSwc7nskv9sbZYygtducD24cbO8UvZibGZrSaZqNj61Q4G4UMA4OWI6SqMDMkO5RoK6WMk2NqFzf3==/kisspng-2017-jeep-grand-cherokee-2016-jeep-grand-cherokee-jeep-5ab52fad5f14a6.2301007115218236613895.png');
    background-size: 225px;
    background-repeat: no-repeat;
    background-position: 0px -5px;
}

.car-card .card-body{
  clip-path: ellipse(85% 350px at 81% 161%);
  background-color: white;
  padding-left: 110px;
}