.custom-modal {
    min-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #000000;
    font-size: 14px;
    z-index: 10;
    animation: modal 0.5s ease-in-out forwards;
    .custom-modal-header {
        font-size: 22px;
        font-weight: 600;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        justify-content: space-between;
        button {
            align-self: flex-start;
            font-size: 38px;
            background: transparent;
            color: red;
            border: 0;
        }
    }
    .custom-modal-body {
        padding: 15px;
    }
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: translateY(-90%) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(-50%);
    }
}
